<h1>Active contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Newsletter</th>
    <th>Sex</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>

<%= render :partial => "contact", :locals => { :contact => contact } %>

<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>

<br />

<%= link_to 'Contacts', contacts_path %>
